In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("chocolate_bars.csv")

In [3]:
df.head(3)

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75

In [4]:
df.describe()

                id  year_reviewed  cocoa_percent  num_ingredients       rating
count  2530.000000    2530.000000    2530.000000      2443.000000  2530.000000
mean   1429.800791    2014.374308      71.639723         3.041343     3.196344
std     757.648556       3.968267       5.616724         0.913728     0.445321
min       5.000000    2006.000000      42.000000         1.000000     1.000000
25%     802.000000    2012.000000      70.000000         2.000000     3.000000
50%    1454.000000    2015.000000      70.000000         3.000000     3.250000
75%    2079.000000    2018.000000      74.000000         4.000000     3.500000
max    2712.000000    2021.000000     100.000000         6.000000     4.000000

In [5]:
df.describe(percentiles=[0.3,0.6,0.9]) #change percentalise

                id  year_reviewed  cocoa_percent  num_ingredients       rating
count  2530.000000    2530.000000    2530.000000      2443.000000  2530.000000
mean   1429.800791    2014.374308      71.639723         3.041343     3.196344
std     757.648556       3.968267       5.616724         0.913728     0.445321
min       5.000000    2006.000000      42.000000         1.000000     1.000000
30%     943.000000    2012.000000      70.000000         2.000000     3.000000
50%    1454.000000    2015.000000      70.000000         3.000000     3.250000
60%    1696.000000    2015.000000      72.000000         3.000000     3.250000
90%    2462.000000    2020.000000      77.000000         4.000000     3.750000
max    2712.000000    2021.000000     100.000000         6.000000     4.000000

In [7]:
df.describe(include=[float])

       cocoa_percent  num_ingredients       rating
count    2530.000000      2443.000000  2530.000000
mean       71.639723         3.041343     3.196344
std         5.616724         0.913728     0.445321
min        42.000000         1.000000     1.000000
25%        70.000000         2.000000     3.000000
50%        70.000000         3.000000     3.250000
75%        74.000000         4.000000     3.500000
max       100.000000         6.000000     4.000000

In [8]:
df.describe(include=[float]).T #easier to understand

                  count       mean       std   min   25%    50%   75%    max
cocoa_percent    2530.0  71.639723  5.616724  42.0  70.0  70.00  74.0  100.0
num_ingredients  2443.0   3.041343  0.913728   1.0   2.0   3.00   4.0    6.0
rating           2530.0   3.196344  0.445321   1.0   3.0   3.25   3.5    4.0

In [9]:
df.info() #get info on datatypes,missing values,etc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2530 non-null   int64
 1   manufacturer      2530 non-null   object
 2   company_location  2530 non-null   object
 3   year_reviewed     2530 non-null   int64
 4   bean_origin       2530 non-null   object
 5   bar_name          2530 non-null   object
 6   cocoa_percent     2530 non-null   float64
 7   num_ingredients   2443 non-null   float64
 8   ingredients       2443 non-null   object
 9   review            2530 non-null   object
 10  rating            2530 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 217.6+ KB

In [10]:
df.shape

(2530, 11)

In [12]:
df.shape[0] #no of rows

2530

In [13]:
df.shape[1] #column

11

In [14]:
df.index

RangeIndex(start=0, stop=2530, step=1)

In [15]:
list(df.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [16]:
#replace values
d2f=df.copy()
d2f.loc[2:5,"review"]=None
d2f.head(7)

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C",None,3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C",None,3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C",None,3.00
5,2546,5150,U.S.A.,2021,Uganda,"Semuliki Forest, batch 1",80.0,3.0,"B,S,C",None,3.25
6,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68.0,3.0,"B,S,C","milk brownie, macadamia,chewy",3.50

In [18]:
d2f.isnull() #shows where all the data is none
df.isnull()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
2525,False,False,False,False,False,False,False,False,False,False,False
2526,False,False,False,False,False,False,False,False,False,False,False
2527,False,False,False,False,False,False,False,False,False,False,False
2528,False,False,False,False,False,False,False,False,False,False,False
2529,False,False,False,False,False,False,False,False,False,False,False

In [19]:
df.isnull().sum() #gives number of nulls n each column

id                   0
manufacturer         0
company_location     0
year_reviewed        0
bean_origin          0
bar_name             0
cocoa_percent        0
num_ingredients     87
ingredients         87
review               0
rating               0
dtype: int64

In [20]:
df.isnull().sum().sum() #to get total null values in set

174

In [25]:
for x in df["review"]:
    if "waxy" in x:
        print(x)

waxy, nutty, mint
waxy mouthfeel, spicy
waxy, dried fruit
waxy, tobacco, smokey
waxy, spicy, tobacco
gritty, roasty, waxy, off
waxy, rubber, medicinal
waxy, sandy, floral
gritty, waxy, leather
waxy, gritty, spicy, hammy
waxy, earthy, cocoa, roasty
waxy, maple, flat
waxy, mild fruit, floral
waxy, cloying, vegetal

In [38]:
df.set_index("bean_origin",inplace=True)
df.head(2)

,id,manufacturer,company_location,year_reviewed,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
bean_origin,,,,,,,,,,
Tanzania,2454,5150,U.S.A.,2019,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
Dominican Republic,2458,5150,U.S.A.,2019,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50

In [40]:
df.loc["Tanzania"]   #prints the row at with given index

,id,manufacturer,company_location,year_reviewed,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
bean_origin,,,,,,,,,,
Tanzania,2454,5150,U.S.A.,2019,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
Tanzania,1944,Alexandre,Netherlands,2017,"Makwale Village, Kyela",70.0,3.0,"B,S,C","sandy, melon, banana",3.50
Tanzania,1724,Arete,U.S.A.,2016,Kokoa Kamili,70.0,2.0,"B,S","appealing smoke, woody",3.75
Tanzania,2566,Aruntam,Italy,2021,"Kokoa Kamili, lot TZ72199",72.0,4.0,"B,S,C,L","caramel, sour milk",3.50
Tanzania,647,Askinosie,U.S.A.,2011,"Tenende, Uwate",72.0,2.0,"B,S","creamy, woody, cocoa",3.75
...,...,...,...,...,...,...,...,...,...,...
Tanzania,2092,White Label aka Mutari,U.S.A.,2018,Kokoa Kamili,68.0,3.0,"B,S,C","nuts, fruit, poor aftertaste",3.00
Tanzania,2656,Woodblock,U.S.A.,2021,"Kokoa Kamili, batch 23",70.0,2.0,"B,S","short, tart, fruit, sweet edge",3.00
Tanzania,2522,Xocolatl,U.S.A.,2020,"Kokoa Kamili, Kilombero Valley, batch 1",73.0,2.0,"B,S","sandy, earthy, hint of tang",3.25
Tanzania,1824,Zart Pralinen,Austria,2016,"Kakao Kamili, Kilombero Valley",85.0,3.0,"B,S,C","melon, mild tart, bitter, fatty",3.00
Tanzania,1824,Zart Pralinen,Austria,2016,"Kakao Kamili, Kilombero Valley",70.0,3.0,"B,S,C","smoke, tart, burnt cocoa",3.50

In [41]:
df.iloc[1] #first position(0th position also there)

id                                    2458
manufacturer                          5150
company_location                    U.S.A.
year_reviewed                         2019
bar_name                   Zorzal, batch 1
cocoa_percent                         76.0
num_ingredients                        3.0
ingredients                          B,S,C
review              cocoa, vegetal, savory
rating                                 3.5
Name: Dominican Republic, dtype: object

In [49]:
df.reset_index(inplace=True)
df

,level_0,index,bean_origin,id,manufacturer,company_location,year_reviewed,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,0,0,Tanzania,2454,5150,U.S.A.,2019,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,1,1,Dominican Republic,2458,5150,U.S.A.,2019,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2,2,Madagascar,2454,5150,U.S.A.,2019,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,3,3,Fiji,2542,5150,U.S.A.,2021,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,4,4,Venezuela,2546,5150,U.S.A.,2021,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2525,2525,2525,Blend,1205,Zotter,Austria,2014,Raw,80.0,4.0,"B,S*,C,Sa","waxy, cloying, vegetal",2.75
2526,2526,2526,Colombia,1996,Zotter,Austria,2017,"APROCAFA, Acandi",75.0,3.0,"B,S,C","strong nutty, marshmallow",3.75
2527,2527,2527,Blend,2036,Zotter,Austria,2018,"Dry Aged, 30 yr Anniversary bar",75.0,3.0,"B,S,C","fatty, earthy, cocoa",3.00
2528,2528,2528,Congo,2170,Zotter,Austria,2018,Mountains of the Moon,70.0,3.0,"B,S,C","fatty, mild nuts, mild fruit",3.25
2529,2529,2529,Belize,2170,Zotter,Austria,2018,Maya Mtn,72.0,3.0,"B,S,C","muted, roasty, accessible",3.50

In [48]:
df.loc[50:100]

,index,bean_origin,id,manufacturer,company_location,year_reviewed,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
50,50,Indonesia,636,Akesson's (Pralus),U.K.,2011,"Bali (west), Sukrama Family, Melaya area",75.0,4.0,"B,S,C,L","hay, nut, berry",3.75
51,51,Venezuela,1061,Alain Ducasse,France,2013,Chuao,75.0,5.0,"B,S,C,V,L","sandy, dirt, ashey",2.50
52,52,Peru,1173,Alain Ducasse,France,2013,"Piura, Perou",75.0,5.0,"B,S,C,V,L","cardboard, dirt, roasty",2.50
53,53,Trinidad,1215,Alain Ducasse,France,2014,Trinite,65.0,6.0,"B,S,C,V,L,Sa","roasty, sweet, savory",2.75
54,54,Vietnam,1215,Alain Ducasse,France,2014,Vietnam,75.0,5.0,"B,S,C,V,Sa","nutty, roasty, odd dairy",2.75
55,55,Madagascar,1215,Alain Ducasse,France,2014,Madagascar,75.0,5.0,"B,S,C,V,Sa","citrus, fatty, dairy",3.00
56,56,Mexico,1992,Alain Ducasse,France,2017,"Porcelana, Mexique",75.0,6.0,"B,S,C,V,L,Sa","strawberry, cream, gateway",3.50
57,57,Ecuador,1944,Alexandre,Netherlands,2017,"Winak Coop, Napo",70.0,3.0,"B,S,C","sandy, green, floral",3.50
58,58,Nicaragua,1944,Alexandre,Netherlands,2017,"La Dalia, Matagalpa",70.0,3.0,"B,S,C","sandy, sweet, nibby",3.50
59,59,Tanzania,1944,Alexandre,Netherlands,2017,"Makwale Village, Kyela",70.0,3.0,"B,S,C","sandy, melon, banana",3.50
60,60,Vietnam,1944,Alexandre,Netherlands,2017,Tien Giang,70.0,3.0,"B,S,C","sandy, sweet, roasty",3.50
61,61,Venezuela,1125,Altus aka Cao Artisan,U.S.A.,2013,Sur del Lago,60.0,4.0,"B,S,C,L","sweet, moldy, off",2.50
62,62,Dominican Republic,1125,Altus aka Cao Artisan,U.S.A.,2013,"Conacado, batch 130",60.0,4.0,"B,S,C,L","sandy, sweet, dairy, spice",3.00
63,63,Bolivia,1133,Altus aka Cao Artisan,U.S.A.,2013,"Bolivia, batch 154",60.0,4.0,"B,S,C,L","grit, sweet, caramel, fruit",3.00
64,64,Bolivia,1129,Altus aka Cao Artisan,U.S.A.,2013,"Bolivia, batch 101",80.0,4.0,"B,S,C,L","gritty, berry, mild bitter",3.25
65,65,Peru,1133,Altus aka Cao Artisan,U.S.A.,2013,"Peru, batch 148",60.0,4.0,"B,S,C,L","gritty, too sweet, fruit",3.25
66,66,Bolivia,1732,Altus aka Cao Artisan,U.S.A.,2016,CIAAB Coop,60.0,3.0,"B,S,C","sandy, sweet, pungent",2.50
67,67,Peru,1732,Altus aka Cao Artisan,U.S.A.,2016,Villa Andina,60.0,3.0,"B,S,C","sandy, sweet, sour, off",2.50
68,68,Nicaragua,1728,Altus aka Cao Artisan,U.S.A.,2016,Momotombo,60.0,3.0,"B,S,C","powdery, sweet, molasses",2.75
69,69,Ecuador,1732,Altus aka Cao Artisan,U.S.A.,2016,Gruppo Salinas,60.0,3.0,"B,S,C","sandy, nutty, earthy, roasty",2.75
70,70,Peru,1728,Altus aka Cao Artisan,U.S.A.,2016,Acopagro,60.0,3.0,"B,S,C","dry, sweet, caramel",3.00
71,71,Dominican Republic,2044,Altus aka Cao Artisan,U.S.A.,2018,Oko Caribe,70.0,3.0,"B,S,C","sweet, coarse, nutty",3.00
72,72,Venezuela,147,Amano,U.S.A.,2007,Cuyagua,70.0,4.0,"B,S,C,V","waxy, nutty, mint",3.00
73,73,Madagascar,129,Amano,U.S.A.,2007,Madagascar,70.0,4.0,"B,S,C,V","spice, nut, cocoa, fruit",3.50
74,74,Venezuela,175,Amano,U.S.A.,2007,Ocumare,70.0,4.0,"B,S,C,V","spicy, strawberry",3.75
75,75,Indonesia,304,Amano,U.S.A.,2008,"Bali, Jembrana",70.0,4.0,"B,S,C,V","sticky, nutty, high acidity",2.75
76,76,Venezuela,363,Amano,U.S.A.,2009,Montanya,70.0,4.0,"B,S,C,V","hot spice, roasty",3.00
77,77,Venezuela,544,Amano,U.S.A.,2010,Chuao,70.0,4.0,"B,S,C,V","woody, red berry, sour",3.00
78,78,Dominican Republic,470,Amano,U.S.A.,2010,Dos Rios,70.0,4.0,"B,S,C,V","orange, cinamon",3.75
79,79,Ecuador,470,Amano,U.S.A.,2010,Guayas,70.0,4.0,"B,S,C,V","strong spice, intense pepper",4.00
80,80,Papua New Guinea,725,Amano,U.S.A.,2011,Morobe,70.0,4.0,"B,S,C,V","tart, lemon, smoke",4.00
81,81,Ecuador,327,Amatller (Simon Coll),Spain,2009,Ecuador,70.0,2.0,"B,S","waxy mouthfeel, spicy",2.75
82,82,Ecuador,464,Amatller (Simon Coll),Spain,2009,Ecuador,85.0,2.0,"B,S","fatty, mushroom, off notes",2.75
83,83,Ghana,322,Amatller (Simon Coll),Spain,2009,Ghana,70.0,2.0,"B,S","dry, chalky, fudge-like",3.00
84,84,Ghana,464,Amatller (Simon Coll),Spain,2009,Ghana,85.0,2.0,"B,S","roasty,oddly sweet,marshmallow",3.00
85,85,Peru,1964,Amazing Cacao,Russia,2017,Maranon,70.0,NaN,NaN,"raisins, pungent",3.00
86,86,Peru,1964,Amazing Cacao,Russia,2017,Platan Bajo,70.0,NaN,NaN,"few grits, blackcherry, licorice",3.50
87,87,Peru,1145,Amazona,Peru,2013,"LamasdelChanka, San Martin, Oro Verde coop",72.0,3.0,"B,S,C","oily, vanilla, melon, cocoa",3.25
88,88,Peru,1145,Amazona,Peru,2013,"Bellavista Gran Pajeten, San Martin",73.0,3.0,"B,S,C","oily, vegetal, nutty, cocoa",3.50
89,89,Belize,1494,Ambrosia,Canada,2015,Belize,64.0,4.0,"B,S,C,L","roasty, brownie, nutty",3.00
90,90,Madagascar,1494,Ambrosia,Canada,2015,Madagascar,66.0,2.0,"B,S","fruity, sour",3.25
91,91,Dominican Republic,1498,Ambrosia,Canada,2015,Dominican Republic,75.0,2.0,"B,S","high roast, high astringnet",3.25
92,92,Papua New Guinea,1498,Ambrosia,Canada,2015,Papua New Guinea,63.0,2.0,"B,S","smokey, savory",3.25
93,93,Venezuela,1498,Ambrosia,Canada,2015,Venezuela,70.0,2.0,"B,S","sandy, roasty, nutty",3.25
94,94,Peru,1498,Ambrosia,Canada,2015,Peru,68.0,2.0,"B,S","rich, sour, mild smoke",3.50
95,95,Blend,75,Amedei,Italy,2006,Toscano Black,66.0,4.0,"B,S,C,V","red wine, rich cocoa, long",3.75
96,96,Ecuador,123,Amedei,Italy,2007,Ecuador,70.0,4.0,"B,S,C,V","creamy, earthy, vegetal",3.00
97,97,Jamaica,123,Amedei,Italy,2007,Jamaica,70.0,4.0,"B,S,C,V","sandy, woody, spicy",3.00
98,98,Grenada,123,Amedei,Italy,2007,Grenada,70.0,4.0,"B,S,C,V",fruity with coffee notes,3.50
99,99,Trinidad,129,Amedei,Italy,2007,Trinidad,70.0,4.0,"B,S,C,V","coffee, fruit, woodsy",3.50
100,100,Blend,170,Amedei,Italy,2007,Toscano Black,63.0,4.0,"B,S,C,V","fatty, dairy, caramel, cocoa",3.50

In [50]:
df.iloc[50:60]

,level_0,index,bean_origin,id,manufacturer,company_location,year_reviewed,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
50,50,50,Indonesia,636,Akesson's (Pralus),U.K.,2011,"Bali (west), Sukrama Family, Melaya area",75.0,4.0,"B,S,C,L","hay, nut, berry",3.75
51,51,51,Venezuela,1061,Alain Ducasse,France,2013,Chuao,75.0,5.0,"B,S,C,V,L","sandy, dirt, ashey",2.50
52,52,52,Peru,1173,Alain Ducasse,France,2013,"Piura, Perou",75.0,5.0,"B,S,C,V,L","cardboard, dirt, roasty",2.50
53,53,53,Trinidad,1215,Alain Ducasse,France,2014,Trinite,65.0,6.0,"B,S,C,V,L,Sa","roasty, sweet, savory",2.75
54,54,54,Vietnam,1215,Alain Ducasse,France,2014,Vietnam,75.0,5.0,"B,S,C,V,Sa","nutty, roasty, odd dairy",2.75
55,55,55,Madagascar,1215,Alain Ducasse,France,2014,Madagascar,75.0,5.0,"B,S,C,V,Sa","citrus, fatty, dairy",3.00
56,56,56,Mexico,1992,Alain Ducasse,France,2017,"Porcelana, Mexique",75.0,6.0,"B,S,C,V,L,Sa","strawberry, cream, gateway",3.50
57,57,57,Ecuador,1944,Alexandre,Netherlands,2017,"Winak Coop, Napo",70.0,3.0,"B,S,C","sandy, green, floral",3.50
58,58,58,Nicaragua,1944,Alexandre,Netherlands,2017,"La Dalia, Matagalpa",70.0,3.0,"B,S,C","sandy, sweet, nibby",3.50
59,59,59,Tanzania,1944,Alexandre,Netherlands,2017,"Makwale Village, Kyela",70.0,3.0,"B,S,C","sandy, melon, banana",3.50

In [51]:
df.loc[[100,200,300]] #just getting random rows

,level_0,index,bean_origin,id,manufacturer,company_location,year_reviewed,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
100,100,100,Blend,170,Amedei,Italy,2007,Toscano Black,63.0,4.0,"B,S,C,V","fatty, dairy, caramel, cocoa",3.50
200,200,200,Tanzania,2294,Bankston,U.S.A.,2019,Kokoa Kamili,72.0,3.0,"B,S,C","base cocoa, mild fruit, roasty",3.25
300,300,300,Ecuador,123,Bonnat,France,2007,Equateur,75.0,3.0,"B,S,C","dry, floral, bitter",2.50

In [54]:
df.loc[100:110,["bean_origin","manufacturer"]] #get certain columns also only works with range

    bean_origin manufacturer
100       Blend       Amedei
101   Venezuela       Amedei
102        Peru       Amedei
103  Madagascar       Amedei
104   Venezuela       Amedei
105   Venezuela       Amedei
106       Blend       Amedei
107       Blend       Amedei
108      Brazil         AMMA
109      Brazil         AMMA
110      Brazil         AMMA

In [55]:
df.iloc[100:110, 3:9:3] #3:9:3 is column index. this is diff between iloc and loc :loc needs column index not label

       id  year_reviewed
100   170           2007
101   123           2007
102   979           2012
103  2088           2018
104  2088           2018
105  2092           2018
106  2092           2018
107  2434           2019
108   572           2010
109   572           2010

In [56]:
df.loc[df["bean_origin"]=="Tanzania",["bean_origin"]]='Congo'  #changed all tanzania to congo

In [57]:
df.head()

,level_0,index,bean_origin,id,manufacturer,company_location,year_reviewed,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,0,0,Congo,2454,5150,U.S.A.,2019,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,1,1,Dominican Republic,2458,5150,U.S.A.,2019,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2,2,Madagascar,2454,5150,U.S.A.,2019,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,3,3,Fiji,2542,5150,U.S.A.,2021,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,4,4,Venezuela,2546,5150,U.S.A.,2021,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00

In [59]:
df.loc[df["rating"]>3,["bean_origin","rating"]] #retrieve data based on conditions.
#["bean_origin","rating"] gives just the required columns

             bean_origin  rating
0                  Congo    3.25
1     Dominican Republic    3.50
2             Madagascar    3.75
5                 Uganda    3.25
6                  India    3.50
...                  ...     ...
2523  Dominican Republic    3.75
2524  Dominican Republic    3.75
2526            Colombia    3.75
2528               Congo    3.25
2529              Belize    3.50

[1441 rows x 2 columns]

In [60]:
df1=df.copy()
df1=df1.dropna()

In [62]:
df1.shape

(2443, 13)

In [63]:
df.shape

(2530, 13)

In [67]:
df2=df.copy()
df2.dropna(inplace=True,axis=1) #drops column with na values

In [68]:
df2.shape

(2530, 11)

In [73]:
df3=df.copy()

In [74]:
df3.dropna(inplace=True,how='all')   #drops rows AND columns with null values

In [75]:
df3.shape

(2530, 13)

In [78]:
df3.dropna(inplace=True)
df3.shape

(2443, 13)

In [81]:
#replacing missing values
dfreplace=df.copy()

In [92]:
dfreplace.isnull().sum()

level_0              0
index                0
bean_origin          0
id                   0
manufacturer         0
company_location     0
year_reviewed        0
bar_name             0
cocoa_percent        0
num_ingredients     87
ingredients         87
review               0
rating               0
dtype: int64

In [93]:

avgnumingredients=dfreplace["num_ingredients"].mean()
print(avgnumingredients)
dfreplace.fillna(avgnumingredients,inplace=True)

3.0413426115431847

In [94]:
dfreplace.isnull().sum()

level_0             0
index               0
bean_origin         0
id                  0
manufacturer        0
company_location    0
year_reviewed       0
bar_name            0
cocoa_percent       0
num_ingredients     0
ingredients         0
review              0
rating              0
dtype: int64

In [4]:
#above method replaced every nul value.this isnot what we wanted
dfreplaceagain=df.copy()

In [12]:
avgnumingredients=dfreplaceagain["num_ingredients"].mean()
print(avgnumingredients)
dfreplaceagain["num_ingredients"].fillna(avgnumingredients,inplace=True)   #locates nul in this column, fills it

3.0413426115431847

In [11]:
dfreplaceagain.isnull().sum()

id                   0
manufacturer         0
company_location     0
year_reviewed        0
bean_origin          0
bar_name             0
cocoa_percent        0
num_ingredients      0
ingredients         87
review               0
rating               0
dtype: int64

In [13]:
# creating new columns
df["new column"]=df["rating"]/df["num_ingredients"]

In [14]:
df.head()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating,new column
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25,1.083333
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50,1.166667
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75,1.250000
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00,1.000000
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00,1.000000

In [16]:
#count different types of values
df["bean_origin"].value_counts()

bean_origin
Venezuela                253
Peru                     244
Dominican Republic       226
Ecuador                  219
Madagascar               177
                        ...
Sumatra                    1
St.Vincent-Grenadines      1
Martinique                 1
Burma                      1
DR Congo                   1
Name: count, Length: 62, dtype: int64

In [17]:
df["bean_origin"].value_counts(normalize=True)   
#gives ration instead of absolute values

bean_origin
Venezuela                0.100000
Peru                     0.096443
Dominican Republic       0.089328
Ecuador                  0.086561
Madagascar               0.069960
                           ...
Sumatra                  0.000395
St.Vincent-Grenadines    0.000395
Martinique               0.000395
Burma                    0.000395
DR Congo                 0.000395
Name: proportion, Length: 62, dtype: float64

In [18]:
#same thing, but now we get to put more columns to check occurence of different combinations
df.value_counts(subset=["bean_origin","rating"])

bean_origin         rating
Venezuela           3.00      61
Ecuador             3.50      57
Venezuela           3.50      52
Peru                3.50      51
Dominican Republic  3.00      50
                              ..
Martinique          2.75       1
Malaysia            2.75       1
                    2.50       1
Australia           3.25       1
Madagascar          2.25       1
Name: count, Length: 315, dtype: int64

In [23]:
import numpy as np
df.select_dtypes(include=np.number).groupby("rating").mean() #gets all rows having a particular value and then uses it to find mean of each column

                 id  year_reviewed  cocoa_percent  num_ingredients  new column
rating
1.00     144.000000    2007.000000      78.250000         5.000000    0.200000
1.50     462.400000    2009.200000      84.800000         3.800000    0.410000
1.75     654.000000    2010.666667      90.666667         3.000000    0.583333
2.00     461.484848    2008.939394      76.575758         4.137931    0.527586
2.25    1378.647059    2014.117647      73.294118         2.714286    0.897321
2.50    1304.006024    2013.740964      71.671687         3.217949    0.873665
2.75    1378.129129    2014.138138      72.099099         3.046875    0.989141
3.00    1395.200765    2014.166348      71.738050         3.150198    1.051680
3.25    1605.915948    2015.336207      71.431034         2.902870    1.206135
3.50    1521.624779    2014.853097      71.225664         2.951087    1.284601
3.75    1392.746667    2014.166667      71.041667         3.000000    1.356780
4.00    1284.008929    2013.607143      70.696429         3.108108    1.388589

In [32]:
df.groupby("company_location")["bar_name"].count()
#going along the column of bar_name, check company locaton and count

company_location
Amsterdam      12
Argentina       9
Australia      53
Austria        30
Belgium        63
             ...
U.S.A.       1136
Vanuatu         4
Venezuela      31
Vietnam        16
Wales           1
Name: bar_name, Length: 67, dtype: int64

In [33]:
df.groupby(["rating","company_location"])["bar_name"].count()

rating  company_location
1.0     Belgium              3
        Sao Tome             1
1.5     Belgium              1
        Ecuador              2
        France               2
                            ..
4.0     Scotland             1
        Spain                3
        Switzerland          6
        U.K.                 4
        U.S.A.              42
Name: bar_name, Length: 309, dtype: int64

In [41]:
df.groupby("company_location")["rating"].mean()

company_location
Amsterdam    3.312500
Argentina    3.305556
Australia    3.358491
Austria      3.258333
Belgium      3.103175
               ...
U.S.A.       3.190801
Vanuatu      2.750000
Venezuela    3.112903
Vietnam      3.359375
Wales        2.750000
Name: rating, Length: 67, dtype: float64

In [56]:

output=df.groupby(["company_location","bean_origin"]).count()  #mean will work if all columns have only integers
output.to_csv("output.csv",index=True)